* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus { outline: 0; }
*::before, *::after { box-sizing: inherit; }
html, body { height: 100%; }

body {
  font-family: sans-serif;
  display: table;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
