* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus { outline: 0; }
*::before, *::after { box-sizing: inherit; }
html, body { height: 100%; }

body {
  font-family: sans-serif;
  display: table;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

form {
  display: inline-block;
  width: 300px;
}

fieldset {
  border: 0;
  padding: 0;
}

form .control-group {
  position: relative;
  margin-bottom: 30px;
  text-align: left;
}

form .control-group label,
form .control-group input {
  display: block;
  width: 100%;
  padding: 5px 8px;
  font-size: 14px;
}

form .control-group label {
  position: absolute;
  top: 2px;
  left: 0;
  pointer-events: none;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
}

form .control-group.active label {
  transform: translate3d(0,-15px,0) scale(.85,.85);
  -webkit-transform: translate3d(0,-15px,0) scale(.85,.85);
  transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
}

form .control-group input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 14px;
}

form .control-group input:focus { border-bottom: 1px solid rgba(0,0,0,1); }

form .form-actions button {
  width: 100%;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
}


form .control-group:nth-child(1),
form .control-group:nth-child(2),
form .form-actions {
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  animation-name: slide;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
}

form .control-group:nth-child(1) {
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  animation-duration: .8s;
}

form .control-group:nth-child(2) {
 -webkit-animation-duration: 1s;
 -moz-animation-duration: 1s;
 animation-duration: 1s;
}

form .form-actions {
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0,600%,0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@-moz-keyframes slide {
  0% {
    -moz-transform: translate3d(0,600%,0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0,600%,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
